/* =Typography Tamaño General de la Fuente
-----------------------------------------------------------------------------
*/
body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, Serif;
  font-size: 0.85em; /* Cambia 0.85em por 0.95em o el valor que desees */
  line-height: 1.5em;
  background-color: #faf8f8;
}

pre>code {
  font-family: 'Hack', 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #36454f;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {
  border-bottom: none;
}

h3 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #36454f;
  text-decoration: none;
  border-bottom: dotted 1px #A1A3A1;
}

a:hover {
  text-decoration: underline;
}

hr {
  border-top: 1px solid #b3cde0;
  margin-top: 5ex;
  margin-bottom: 5ex;
  max-width: 100%;
}

blockquote {
  color: #36454f;
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #36454f;
  display: inline;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.table {
  --bs-table-bg: @faf8f8 !important;
}

td, th {
  background-color: #faf8f8 !important;
}

table th,
table td {
  border-bottom: 0px !important;
  padding: 0.2em .2em;
}

ul {
  list-style: square;
}

dd {
  margin-left: 2em;
}

/* =Code
-----------------------------------------------------------------------------
*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 80%;
  font-style: normal;
  font-family: 'Source Code Pro', "Lucida Console", "Courier New", monospace;
}

nav,
.footer {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 115%;
  margin-bottom: 0;
}


.footer {
  background-color: #f2f2f2; /* Gris claro, cámbialo si quieres */
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 100%;
  color: #333;
  margin-top: 0px; /* Añade espacio arriba si está muy pegado */
}
.footer p {
  margin: 0;
}


a.nav-link,a.navbar-brand {
  border-bottom: 0;
}

a.nav-link:hover,a.navbar-brand:hover {
  color: #efce14;
}

/* Badges */

a.badge.badge-red {
  color: #fff;
}

a.badge.badge-blue {
  color: #fff;
}

a.badge.badge-green {
  color: #fff;
}

.badge-large {
  font-size: 18px !important;
  text-transform: none !important;
  padding: 5px 5px 3px 5px;
  text-transform: none;
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.badge {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.label,
.badge {
  background: #e0e3e5;
  font-size: 12.75px;
  display: inline-block;
  line-height: 1;
  padding: 4px 7px 3px 7px;
  color: #0f0f0f;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.label-outline {
  background: none;
  border: 1px solid #0f0f0f;
  padding: 3px 6px 2px 6px;
}

.badge {
  border-radius: 15px;
}

.badge-small {
  font-size: 11.25px;
  padding: 5px 5px 3px 5px;
}

.label-black,
.label-blue,
.label-red,
.label-green,
.badge-black,
.badge-blue,
.badge-red,
.badge-green {
  color: #ffffff !important;
}

.label-black,
.badge-black {
  background: #0f0f0f;
}

.label-blue,
.badge-blue {
  background: #4673B8;
}

.label-red,
.badge-red {
  background: #BD666D;
}

.label-green,
.badge-green {
  background: #2c9f42;
}

.label-yellow,
.badge-yellow {
  background: #ffc800;
}

.label-white,
.badge-white {
  background: #ffffff;
}

.image-left {
  float: left;
  margin: 0 1em 1em 0;
}

.fa-ul>li {
  margin: 0.5em;
}

.quarto-title-meta {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.quarto-title-meta-heading {
  margin: 1ex 1ex 0 1ex !important;
}
.quarto-title-meta-contents {
  margin: 0ex 1ex 1ex 1ex !important;
}

.video-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.quarto-listing-category.category-cloud {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.figure-caption {
  color: var(--darkgray);
  background-color: var(--lightgray);
  padding-left: 20px;
  font-size: 12pt;
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: #36454f;
  color: #ebebeb;
}

.quarto-category:hover, .listing-category:hover {
  background-color: #36454f;
  color: #ebebeb !important;
  opacity: .6;
}

.quarto-category, .listing-category, .listing-actions-group, .about-link-text {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mlb2-4240669.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody, #mlb2-4240669.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 0px !important;
}

/* Justificar el texto del contenido */
p {
  text-align: justify;
}




/* --- Ajuste correcto y final de la portada (about: trestles) --- */

div.quarto-about-trestles {
  margin-top: 0 !important;       /* elimina espacio blanco arriba */
  margin-bottom: 0 !important;    /* elimina espacio blanco abajo */
  padding-top: 3rem !important;   /* equilibrio visual */
  padding-bottom: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.quarto-about-trestles .about-contents {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

/* versión móvil */
@media (max-width: 768px) {
  div.quarto-about-trestles {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
    display: block;
  }
}


/* SOLUCIONA BARRA MUY ALTA


/* --- Ajustar altura del footer --- */

.nav-footer {
  min-height: 2em;
  padding-top: 0.10rem;
  padding-bottom: 0.10rem;
}

.nav-footer-left,
.nav-footer-right {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.nav-footer p {
  margin: 0 !important;
}


.nav-footer {
  justify-content: center !important;
  text-align: center !important;
}

.nav-footer-left,
.nav-footer-right {
  flex: 0 0 auto !important;
  text-align: center !important;
  margin: 0 0.4rem;
}




/* LOGO PERSONAL EN NAVBAR */
/* Ajusta tamaño del logo */
.logo-navbar {
    height: 38px;       /* Cambia aquí el tamaño */
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: contain;
    vertical-align: middle;
}

/* Responsivo para móvil */
@media (max-width: 600px) {
    .logo-navbar {
        height: 30px;
    }
}
/* Ajuste general del logo */
.logo-navbar {
    height: 38px;
    width: auto;
    margin-left: 12px;
    vertical-align: middle;
}








